<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h2>¡Bienvenido!</h2>

  <ion-segment class="ionSegment" (ionChange)="segmentChanged($event)" value="passenger">
    <ion-segment-button value="passenger">
      <ion-label>Pasajero</ion-label>
    </ion-segment-button>
    <ion-segment-button value="admin">
      <ion-label>Transportista</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="personType">
    <div *ngSwitchCase="'passenger'">
      <form [formGroup]="registerClientForm" (ngSubmit)="onRegister()">
        <ion-item class="itemsInputs" lines="none">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="pricetags"></ion-icon>
            <ion-input type="text" formControlName="name" placeholder="Nombre"></ion-input>
          </ion-item>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message"
              *ngIf="registerClientForm.get('name').hasError(validation.type) && (registerClientForm.get('name').dirty || registerClientForm.get('name').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="itemsInputs" lines="none">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="person"></ion-icon>
            <ion-input type="text" formControlName="email" placeholder="Correo electrónico"></ion-input>
          </ion-item>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="registerClientForm.get('email').hasError(validation.type) && (registerClientForm.get('email').dirty || registerClientForm.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="itemsInputs" lines="none">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="lock-closed"></ion-icon>
            <ion-input formControlName="password" placeholder="Contraseña" [type]="passwordTypeInput">
            </ion-input>
            <button item-end class="btn_eye_icon" type="button" (click)="togglePasswordMode()">
              <ion-icon [name]="iconpassword"></ion-icon>
            </button>
          </ion-item>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="registerClientForm.get('password').hasError(validation.type) && (registerClientForm.get('password').dirty || registerClientForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="itemsInputs" lines="none">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="call"></ion-icon>
            <ion-input formControlName="phone" placeholder="Celular" type="text">
            </ion-input>
          </ion-item>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.phone">
            <div class="error-message"
              *ngIf="registerClientForm.get('phone').hasError(validation.type) && (registerClientForm.get('phone').dirty || registerClientForm.get('phone').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item class="itemsInputs" lines="none">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="bus"></ion-icon>
            <ion-input type="text" formControlName="companyId" placeholder="ID de Empresa"></ion-input>
          </ion-item>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.companyId">
            <div class="error-message"
              *ngIf="registerClientForm.get('companyId').hasError(validation.type) && (registerClientForm.get('companyId').dirty || registerClientForm.get('companyId').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-button class="register" expand="block" type="submit" [disabled]="!registerClientForm.valid">Registrar</ion-button>
      </form>
    </div>
    <div *ngSwitchCase="'admin'">
      <form [formGroup]="registerAdminForm" (ngSubmit)="onRegister()">
        <ion-item class="itemsInputs" lines="none">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="pricetags"></ion-icon>
            <ion-input type="text" formControlName="name" placeholder="Nombre"></ion-input>
          </ion-item>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message"
              *ngIf="registerAdminForm.get('name').hasError(validation.type) && (registerAdminForm.get('name').dirty || registerAdminForm.get('name').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="itemsInputs" lines="none">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="person"></ion-icon>
            <ion-input type="text" formControlName="email" placeholder="Correo electrónico"></ion-input>
          </ion-item>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="registerAdminForm.get('email').hasError(validation.type) && (registerAdminForm.get('email').dirty || registerAdminForm.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="itemsInputs" lines="none">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="lock-closed"></ion-icon>
            <ion-input formControlName="password" placeholder="Contraseña" [type]="passwordTypeInput">
            </ion-input>
            <button item-end class="btn_eye_icon" type="button" (click)="togglePasswordMode()">
              <ion-icon [name]="iconpassword"></ion-icon>
            </button>
          </ion-item>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="registerAdminForm.get('password').hasError(validation.type) && (registerAdminForm.get('password').dirty || registerAdminForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="itemsInputs" lines="none">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="call"></ion-icon>
            <ion-input formControlName="phone" placeholder="Celular" type="text">
            </ion-input>
          </ion-item>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.phone">
            <div class="error-message"
              *ngIf="registerAdminForm.get('phone').hasError(validation.type) && (registerAdminForm.get('phone').dirty || registerAdminForm.get('phone').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="itemsInputs" lines="none">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="bus"></ion-icon>
            <ion-input type="text" formControlName="company" placeholder="Nombre de la Empresa"></ion-input>
          </ion-item>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.company">
            <div class="error-message"
              *ngIf="registerAdminForm.get('company').hasError(validation.type) && (registerAdminForm.get('company').dirty || registerAdminForm.get('company').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-button class="register" expand="block" type="submit" [disabled]="!registerAdminForm.valid">Registrar</ion-button>
      </form>
    </div>
  </div>

  <div class="SiCuenta">
    <h6 routerLink="/login">Ya tengo una cuenta</h6>
  </div>
</ion-content>