<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="#"></ion-back-button>
    <ion-title>Detalle del viaje</ion-title>
  </ion-toolbar>
  <div class="searchBarContent"> 
    <ion-searchbar class="searchBar" placeholder="Buscar" mode="ios"></ion-searchbar>
  </div>
</ion-header>

<ion-content>

  <ion-card class="tripCards">
    <ion-card-title>
    {{trip.recurrency}}
    </ion-card-title>
    <ion-card-subtitle>
      {{trip.time}}
    </ion-card-subtitle>
    <ion-card-content>
      <ion-icon name="walk-outline" slot="start"></ion-icon>
      <ion-label>{{trip.vehicle}}</ion-label>
    </ion-card-content>
    <ion-item lines="none">
      <ion-icon name="people" slot="start"></ion-icon>
      <ion-label>{{trip.driver}}</ion-label>
      <ion-button fill="outline" *ngIf="canEnroll" slot="end">Inscribirse</ion-button>
    </ion-item>
   
  </ion-card>

</ion-content>
