<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="#"></ion-back-button>
    <ion-title>Agregar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [scrollEvents]="true">

  <form [formGroup]="addForm" (ngSubmit)="addTrip()">

    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon name="pricetags"></ion-icon>
        <ion-input type="text" formControlName="recurrency" placeholder="Recurrencia *"></ion-input>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.recurrency">
        <div class="error-message"
          *ngIf="addForm.get('recurrency').hasError(validation.type) && (addForm.get('recurrency').dirty || addForm.get('recurrency').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon name="time"></ion-icon>
        <ion-datetime (ionChange)="transformDate()" formControlName="time" placeholder="Hora *" picker-format="hh:mm a" displayFormat="hh:mm a" ></ion-datetime>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.time">
        <div class="error-message"
          *ngIf="addForm.get('time').hasError(validation.type) && (addForm.get('time').dirty || addForm.get('time').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon name="locate"></ion-icon>
        <ion-select formControlName="origin" placeholder="Origen *">
          <ion-select-option *ngFor="let stop of stops">{{stop.alias}} </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.origin">
        <div class="error-message"
          *ngIf="addForm.get('origin').hasError(validation.type) && (addForm.get('origin').dirty || addForm.get('origin').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon name="locate"></ion-icon>
        <ion-select formControlName="destination" placeholder="Destino: *">
          <ion-select-option *ngFor="let stop of stops">{{stop.alias}} </ion-select-option>
        </ion-select>

      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.destination">
        <div class="error-message"
          *ngIf="addForm.get('destination').hasError(validation.type) && (addForm.get('destination').dirty || addForm.get('destination').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon class="firstIcon" name="bus"></ion-icon>
          <ion-select placeholder="Vehiculo *" formControlName="vehicle">
            <ion-select-option *ngFor="let vehicle of vehicles">{{vehicle.alias}}</ion-select-option>
          </ion-select>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.vehicle">
        <div class="error-message"
          *ngIf="addForm.get('vehicle').hasError(validation.type) && (addForm.get('vehicle').dirty || addForm.get('vehicle').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon class="firstIcon" name="people"></ion-icon>
          <ion-select formControlName="driver" placeholder="Conductor *">
            <ion-select-option *ngFor="let driver of drivers">{{driver.name}}</ion-select-option>
          </ion-select>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.driver">
        <div class="error-message"
          *ngIf="addForm.get('driver').hasError(validation.type) && (addForm.get('driver').dirty || addForm.get('driver').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon class="firstIcon" name="trail-sign"></ion-icon>
        <ion-select formControlName="stops" placeholder="Paradas *" multiple="true ">
          <ion-select-option [value]="stop.coordinates" *ngFor="let stop of stops">{{stop.alias}} </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.stops">
        <div class="error-message"
          *ngIf="addForm.get('stops').hasError(validation.type) && (addForm.get('stops').dirty || addForm.get('stops').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>



    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon class="firstIcon" name="walk-outline"></ion-icon>
          <ion-select formControlName="passengers" placeholder="Pasajeros *"  multiple="true "> 
            <ion-select-option *ngFor="let passenger of passengers">{{passenger.name}}</ion-select-option>
          </ion-select>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.passengers">
        <div class="error-message"
          *ngIf="addForm.get('passengers').hasError(validation.type) && (addForm.get('passengers').dirty || addForm.get('passengers').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>



    <ion-button class="register" expand="block" type="submit" [disabled]="!addForm.valid">Agregar</ion-button>

  </form>


</ion-content>