<ion-header>
  <ion-toolbar>

    <ion-back-button slot="start"></ion-back-button>
    <ion-buttons slot="end">
      <ion-button  routerLink="/drivers/add">
        <ion-icon slot="icon-only" ios="add" md="add"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title>Conductores</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let driver of drivers">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{driver.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> {{driver.email}}</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>