<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="#"></ion-back-button>
    <ion-title>Agregar Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addForm" (ngSubmit)="addDriver()">
    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon name="pricetags"></ion-icon>
        <ion-input type="text" formControlName="name" placeholder="Nombre"></ion-input>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="error-message"
          *ngIf="addForm.get('name').hasError(validation.type) && (addForm.get('name').dirty || addForm.get('name').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon name="person"></ion-icon>
        <ion-input type="text" formControlName="email" placeholder="Correo electrónico"></ion-input>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="addForm.get('email').hasError(validation.type) && (addForm.get('email').dirty || addForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input formControlName="password" placeholder="Contraseña" [type]="passwordTypeInput">
        </ion-input>
        <button item-end class="btn_eye_icon" type="button" (click)="togglePasswordMode()">
          <ion-icon [name]="iconpassword"></ion-icon>
        </button>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="addForm.get('password').hasError(validation.type) && (addForm.get('password').dirty || addForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon name="call"></ion-icon>
        <ion-input formControlName="phone" placeholder="Celular" type="text">
        </ion-input>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.phone">
        <div class="error-message"
          *ngIf="addForm.get('phone').hasError(validation.type) && (addForm.get('phone').dirty || addForm.get('phone').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button class="register" expand="block" type="submit" [disabled]="!addForm.valid">Registrar</ion-button>
  </form>



</ion-content>