<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header *ngIf="userInfo != null">{{userInfo.name}}</ion-list-header>
          <ion-list-header *ngIf="userInfo == null">Usuario</ion-list-header>
          <ion-note *ngIf="userInfo != null">{{userInfo.email}}</ion-note>
          <ion-note *ngIf="userInfo == null">usuario@transporte.com</ion-note>

          <ion-menu-toggle auto-hide="false" >
          <ion-item routerDirection="root" *ngIf="isAdmin" routerLink="/drive" lines="none"
          detail="false" [class.selected]="selectedIndex == i">
          <ion-icon slot="start" name="navigate"></ion-icon>
          <ion-label>Conducir</ion-label>
          </ion-item>

          <ion-item routerDirection="root" routerLink="/home" lines="none"
          detail="false" [class.selected]="selectedIndex == i">
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
          </ion-item>

          <ion-item routerDirection="root" *ngIf="isAdmin" routerLink="/operations" lines="none"
          detail="false">
          <ion-icon slot="start" name="car"></ion-icon>
          <ion-label>Operaciones</ion-label>
          </ion-item>

          <ion-item routerDirection="root" routerLink="/finance" lines="none"
          detail="false" [class.selected]="selectedIndex == i">
          <ion-icon slot="start" name="wallet"></ion-icon>
          <ion-label>Finanzas</ion-label>
          </ion-item>

          <ion-item routerDirection="root" routerLink="/configuration" lines="none"
          detail="false" [class.selected]="selectedIndex == i">
          <ion-icon slot="start" name="settings"></ion-icon>
          <ion-label>Configuración</ion-label>
          </ion-item>

          <ion-item routerDirection="root" routerLink="/help" lines="none"
          detail="false" [class.selected]="selectedIndex == i">
          <ion-icon slot="start" name="help"></ion-icon>
          <ion-label>Ayuda</ion-label>
          </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-button class="logout" (click)="onLogOut()">
          Cerrar Sesión
        </ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>