<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="../../../assets/img/logo.png" alt="">

  <!-- <ion-item>
    <ion-label color="dark" position="floating"> Correo electrónico</ion-label>
    <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
  </ion-item> -->

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon name="person"></ion-icon>
        <ion-input type="text" formControlName="email" placeholder="Correo electrónico" name="email"></ion-input>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="itemsInputs" lines="none">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input formControlName="password" placeholder="Contraseña" [type]="passwordTypeInput" name="password">
        </ion-input>
        <button item-end class="btn_eye_icon" type="button" (click)="togglePasswordMode()">
          <ion-icon [name]="iconpassword"></ion-icon>
        </button>
      </ion-item>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <!-- <ion-item>
    <ion-label color="dark" position="floating"> Contraseña</ion-label>
    <ion-input [(ngModel)]="user.password" type="password" name="password"></ion-input>
  </ion-item> -->

  <p class="forgotPassword" (click)="forgotPassword()">¡Olvidé la contraseña!</p>

    <ion-button class="login" expand="block" type="submit" [disabled]="!loginForm.valid"> Iniciar Sesión
    </ion-button>

  </form>

  <div class="NoCuenta">
    <h6 routerLink="/register">Crear una cuenta</h6>
  </div>

  <!-- <ion-button class="NoCuenta" routerLink="/register" expand="block"  color="light">Crear una cuenta</ion-button> -->

</ion-content>