<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-buttons slot="end">
      <ion-button routerLink="/passengers/add">
        <ion-icon slot="icon-only" ios="add" md="add"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Pasajeros</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar" mode="ios"></ion-searchbar>
</ion-header>

<ion-content>
  <div *ngFor="let user of users">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{user.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> {{user.email}}</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>